.button {
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  padding: 8px 16px;
  font-size: 14px;
  transition: all var(--transition-duration) var(--transition-timing-function);

  &:hover {
    &:not([disabled]) {
      background: var(--focus-color);
    }
  }

  &:focus {
    &:not([disabled]) {
      box-shadow: 0 0 0 4px #cbd6ee;
    }
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
