:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --broun-color: #a52a2a;
  --accent-color: #2196f3;
  --focus-color: #008b8b;
  --primary-white-color: #ffffff;
  --black-color: #000;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
